<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.carlos.loanapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CrearPrestamoActivity"
            android:label="Crear Prestamo" >
        </activity>
        <activity
            android:name=".VerInformacionActivity"
            android:label="Informacion de Prestamo" >
        </activity>
        <activity
            android:name=".AbonarActivity"
            android:label="Abonar a Prestamo" >
        </activity>
        <activity
            android:name=".CambiarFechaActivity"
            android:label="Cambio de Fecha de Pago" >
        </activity>
    </application>

</manifest>
